{% extends "web/index.html" %}
{% block content %}

<section id="inner-headline">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <ul class="breadcrumb">
                  <li>
                      <a href="#">
                          <i class="fa fa-home"></i>
                      </a>
                      <i class="icon-angle-right"></i>
                  </li>
                   <a class="active"><a style="color:white" href ='{% url 'autonews' %}' >Automatic News</a></li>
              </ul>
          </div>
      </div>
  </div>
</section>
<section id="content">
    <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 20px;">No.</th>
              <th>News Title</th>
              <th>Writer</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          {% for autonews in filter_list %}
              <tr>
                  <td>{{ acc_num|add:forloop.revcounter}}</td>
                  <td><a href="{% url 'autonews_detail' pk=autonews.id %}">{{ autonews.title }}</a></td>
                  <td> 설명가능인공지능 </td>
                  <td>{{ autonews.datetime | date:'Y-m-d H:i' }}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>

        <div class="text-center">
              <ul class="pagination">
                {% if filter_list.has_previous %}
                  <li><a href="?page={{ filter_list.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in filter_list.paginator.page_range %}
                  {% if filter_list.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if filter_list.has_next %}
                  <li><a href="?page={{ filter_list.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>

        </div>
    </div>
</section>


{% endblock content %}
