{% extends "web/index.html" %}
{% block content %}
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                  <li class="active">Greeting</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <section id="content">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <article class="lead">
                  <div class="post-image">
                     <div class="post-heading">
                        <h3><a href="#">Welcome to XAIC</a></h3>
                     </div>
                     <img src="/static/img/main/jaesik.jpg"/>
                  </div>
                  <p >
                   Our goal is to create a suite of new or modified machine learning techniques that produce explainable models that, when combined with effective explanation techniques, enable and users to understand, appropriately trust, and effectively manage the emerging generation of Artificial Intelligence(AI) systems.<br>
                   </p><br>
                  <div class="lead" style=" text-align: right; ">
                   Jaesik Choi, Director of UNIST Explainable Artificial Intelligence Center<br>
                  </div>
               </article>
            </div>
         </div>
      </div>
   </section>
{% endblock content %}