{% extends "base.html" %}
{% block header %}
<div class="navbar navbar-default navbar-static-top">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="/"><span>X</span>AIC</a> -->
            <a class="navbar-brand" href="/"><img src="/static/img/logos/XAIC_logo.png" alt="" width="120px" /></a>
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                	 <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">ABOUT<b class=" icon-angle-down"></b></a>
                	 <ul class="dropdown-menu">
						<li><a href ='{% url 'introduction' %}'>Introduction</a></li>
                	 	<li><a href ='{% url 'greeting' %}'>Greeting</a></li>
                	 	<li><a href ='{% url 'member' %}'>Member</a></li>
                	 <!--<li><a href ='{% url 'lab' %}'>Lab</a></li>-->
                	 </ul>
                </li>
                <li class="dropdown">
                	 <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">News&Info<b class=" icon-angle-down"></b></a>
                	 <ul class="dropdown-menu">
                	 	<li><a href ='{% url 'notice' %}'>Notice</a></li>
                	 	<li><a href ='{% url 'news' %}'>News</a></li>
                	 </ul>
                </li>
                <li class="dropdown">
                	 <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Research<b class=" icon-angle-down"></b></a>
                	 <ul class="dropdown-menu">
						 <li><a href ='/research/automatic_news/'>Automatic News</a></li>
						<li><a href ='{% url 'financial_index' %}'>UNIST-XAI Index</a></li>
						 <li><a href ='{% url 'stock_commodity' %}'>Stock/Commodity Trading</a></li>
                	 	<li><a href ='{% url 'publication' %}'>Publication</a></li>
						<li><a href ='{% url 'patent' %}'>Patent</a></li>
                	 </ul>
                </li>
                <li class="dropdown">
                	 <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Open Source<b class=" icon-angle-down"></b></a>
                	 <ul class="dropdown-menu">
				  <li><a href ='{% url 'relatedproject' %}'>Related Project</a></li>
                	 	<li><a href ='https://github.com/OpenXAIProject'>Github</a></li>
                                <li><a href ='https://www.youtube.com/channel/UCGxsfIsOry_LdBaPSet2p7g'>Youtube</a></li>
                                <li><a href ='{% url 'opendata' %}'>Open Data</a></li>			 
			 </ul>
                </li>
				<li class="dropdown">
                	 <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Event<b class=" icon-angle-down"></b></a>
                	 <ul class="dropdown-menu">
                	 	<li><a href ='{% url 'Symposium18' %}'>2018 XAI Symposium</a></li>
						<li><a href ='{% url 'Tutorial19' %}'>2019 PYCON Tutorial</a></li>
						<li><a href ='{% url 'Workshop19' %}'>2019 ICCV Workshop</a></li>
						<li><a href ='{% url 'Tutorial20' %}'>2020 KDD Tutorial</a></li>
                	 </ul>
                </li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock header %}
{% block content %}
<section id="featured">
	<!-- start slider -->
	<div class="container"  >
	<!-- Slider -->
		<div id="main-slider" class="flexslider">
            <ul class="slides">
				<li>
					<img src="/static/img/main/journals.png" alt="" />
					<div class="flex-caption" style="left:50px;">
						<p>XAI articles are published in top journals; Science Robotics, Nature Communication, NeuroImage, Neural Networks etc </p>
					</div>
				</li>
				<li>
					<img src="/static/img/main/aaai.png" alt="" />
					<div class="flex-caption">
						<h3>AAAI 2020</h3>
						<p>7 XAI Papers are accepted to AAAI 2020 </p>
					</div>
				</li>	


		    <li>	
			    <img src="/static/img/main/iccv.png" alt="" />
			    <div class="flex-caption" style="left:50px;">											                                                    <h3>ICCV Workshop</h3>
																			                                                    <p>We held the ICCV 2019 Workshop on Interpretating and Explaining Visual Artificial Intelligence Models </p>																			                                                    <a href="{% url 'Workshop19'%}" class="btn btn-theme">Learn More</a>																															                                            </div>	
		    </li>



				<li>
					<a href="{% url 'publication'%}"><img src="/static/img/main/main1_upgrade2.png" alt="" /></a>
				</li>
				<li>
					<img src="/static/img/main/main2.png" alt="" />
					<div class="flex-caption" style="left:50px;">
						<h3>ICCV Workshop</h3>
						<p>We will co-host the ICCV 2019 Workshop on Interpretating and Explaining Visual Artificial Intelligence Models </p>
						<a href="{% url 'Workshop19'%}" class="btn btn-theme">Learn More</a>
					</div>
				</li>
				<li>
					<img src="/static/img/main/main3.png" alt="" />
					<div class="flex-caption">
						<h3>THE Asia Summit</h3>
						<p>Prof.Choi attended at the Asia Summit and presented about "New technology advancing the field: AI and the Health sector".</p>
					</div>
				</li>
				<li>
					<img src="/static/img/main/main4.png" alt="" />
					<div class="flex-caption">
						<h3>DARPA XAI PIs meeting</h3>
						<p>Prof.Choi attended at the DARPA XAI PIs meeting and presented about XAI project in Korea  </p>
					</div>
				</li>
				<li>
					<img src="/static/img/main/main5.png" alt="" />
				</li>
				<li>
					<img src="/static/img/main/main6.png" alt="" />
					<div class="flex-caption">
						<h3>2018 International XAI Symposium</h3>
						<p>We hosted the 2018 International Explainable AI Symposium. </p>
						<a href="{% url 'Symposium18'%}" class="btn btn-theme">Learn More</a>
					</div>
				</li>
            </ul>
        </div>
	</div>
</section>

<section id="content" style="padding:0;">
	<div class="container">
		<div class="big-cta">
			<div class="cta-text">
				<h2><span>R</span>esearch & <span>D</span>evelopment Objectives</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<div class="box" >
					<div class="box-gray aligncenter">
						<h4>Task 1</h4>
						<img src="/static/img/main/part_1.png" alt="" /><br><br>
						<p>Explainable Learning for Causal Relations</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="box">
					<div class="box-gray aligncenter">
						<h4>Task 2</h4>
						<img src="/static/img/main/part_2.png" alt="" /><br><br>
						<p>Few-Shots Learning for Explainable Learners</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="box">
					<div class="box-gray aligncenter">
						<h4>Task 3</h4>
						<img src="/static/img/main/part_3.png" alt="" /><br><br>
						<p>Explainable interface to provide reasons for decision making</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="box">
					<div class="box-gray aligncenter">
						<h4>Task 4</h4>
						<img src="/static/img/main/part_4.png" alt="" /><br><br>
						<p>Applications of Explainable Systems (Healthcare, Finance)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--<body onLoad="javascript:open_win();">-->

<!--</body>-->
{% endblock content %}

{% block script %}
<!--<script type="text/javascript">-->
<!--function open_win(){-->
	<!--var popUrl = "popups/2018/";-->
	<!--var left = (screen.width/2)-(500/2);-->
	<!--var popOption = "position= absolute; height=500, width=900; top=150, left=1100; resizable=no, scrollbars=no, status=no;";-->
	<!--window.open(popUrl,"",popOption);-->
<!--}-->
<!--</script>-->
{% endblock script %}
