{% extends "web/index.html" %}
{% block content %}
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                  <li class="active">Introduction</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <section id="content">
      <div class="container">
          <div class="big-cta">
			<div class="cta-text">
                <h2>E<span>x</span>plainable <span>A</span>rtificial <span>I</span>ntelligence(<span>XAI</span>) Center</h2>
			</div>
		</div>
         <div class="row">
               <article class="lead">
                  &nbsp;&nbsp;   The XAI center is developing new or modified machine learning techniques to produce explainable AI models. The explainable AI models provide effective explanation for human to understand the reasons of decision making via
                  machine learning and statistical inference based on real-world data. The center highly contributes to Medical and Financial industry, which obtains high advantage by adopting AI but high risk follows without explainability.
                  <br><br><br><br>
                     <img src="/static/img/intro/intro_1.png" style="" />
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
                     <img src="/static/img/intro/intro_2.png" style="" />
 					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
                     <img src="/static/img/intro/intro_3.png" style="" />
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
                     <img src="/static/img/intro/intro_4.png" style="" />
 					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
                     <img src="/static/img/intro/intro_5.png" style="" />
               </article>
         </div>
      </div>
   </section>
{% endblock content %}