{% extends "web/index.html" %}
{% block content %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Lab</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
<div class="row">
    <ul id="thumbs" class="portfolio">

        {% for lab in object_list%}
        <li class="item-thumbs col-lg-5" >
            <div>
                 <h3>{{ lab.name }}</h3>
            </div>
            <dl>
                <dt>Professor/PI</dt>
                <dd>{{ lab.professor }}</dd>
                <dt>Research on</dt>
                <dd>{{ lab.research_on }}</dd>
                <dt>Website</dt>
                <dd><a href="{{ lab.link }}">{{ lab.link }}</a></dd>
            </dl>
        </li>
        {% endfor %}
    </ul>
</div>
</section>
{% endblock content %}