{% extends "web/index.html" %}
{% block content %}
{% load static %} <!-- static을 사용하는 모든 개별 html에서 별도로 호출해야함 -->
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                  <li class="active">Members</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <section id="content">
      <div class="container">
        <div class="row">
           <h3>Task 1 : Explainable Learning for Causal Relations</h3><br>
            <div class="col-lg-2">
               <img style="width:130px;height:170px;border-spacing:100px" src={% static "img/member/hsj.jpg" %}><br>
               <span><Strong>Seongju Hwang</Strong></span><br>
               <span>KAIST</span><br>
               <a href="http://www.sungjuhwang.com/"><i class="fa fa-home"></i></a>
            </div>
            <div class="col-lg-2">
               <img style="width:130px;height:170px" src={% static "img/member/yhy.jpg" %}><br>
               <span><Strong>Eunho Yang</Strong></span><br>
               <span>KAIST</span><br>
               <a href="https://sites.google.com/site/yangeh/"><i class="fa fa-home"></i></a>
            </div>
            <div class="col-lg-2">
               <img style="width:130px;height:170px" src={% static "img/member/sjw.png" %}><br>
               <span><Strong>Jinwoo Shin </Strong></span><br>
               <span>KAIST</span><br>
               <a href="http://alinlab.kaist.ac.kr/shin.html"><i class="fa fa-home"></i></a>
            </div>
        </div>
        <div class="row">
            <h3>Task 2 : Few-Shots Learning for Explainable Learners</h3><br>
            <div class="col-lg-2">
               <img style="width:130px;height:170px" src={% static "img/member/phw.png" %}><br>
               <span><Strong>HyunWook Park</Strong></span><br>
               <span>KAIST</span><br>
               <a href="http://athena.kaist.ac.kr/"><i class="fa fa-home"></i></a>
            </div>
            <div class="col-lg-2">
               <img style="width:130px;height:170px" src={% static "img/member/nym.jpg" %}><br>
               <span><Strong>Yong Man Ro</Strong></span><br>
               <span>KAIST</span><br>
               <a href="http://ivylab.kaist.ac.kr/base/people/people1.php"><i class="fa fa-home"></i></a>
            </div>
            <div class="col-lg-2">
               <img style="width:130px;height:170px" src={% static "img/member/ohy.png" %}><br>
               <span><Strong>Alice Oh</Strong></span><br>
               <span>KAIST</span><br>
               <a href="https://aliceoh9.github.io/"><i class="fa fa-home"></i></a>
            </div>
             <div class="col-lg-2">
               <img style="width:130px;height:170px"  src={% static "img/member/hbh.jpg" %}><br>
               <span><Strong>Bohyung Han</Strong></span><br>
               <span>SNU</span><br>
               <a href="https://cv.snu.ac.kr/index.php/~bhhan/"><i class="fa fa-home"></i></a>
            </div>
             <div class="col-lg-2">
               <img style="width:130px;height:170px"  src={% static "img/member/hsw.jpg" %}><br>
               <span><Strong>Seungwon Hwang</Strong></span><br>
               <span>Yonsei Univ.</span><br>
               <a href="http://dilab.yonsei.ac.kr/~swhwang/"><i class="fa fa-home"></i></a>
            </div>
        </div>
        <div class="row">
            <h3>Task 3: Explainable interface to provide reasons for decision making</h3><br>
           <div class="col-lg-2">
               <img style="width:130px;height:170px" src={% static "img/member/jaesik.png" %}><br>
               <span><Strong>Jaesik Choi</Strong></span><br>
               <span>KAIST</span><br>
               <a href="http://sailab.kaist.ac.kr/members/jaesik/"><i class="fa fa-home"></i></a>
           </div>
           <div class="col-lg-2">
               <img style="width:130px;height:170px" src={% static "img/member/seonghwan.png" %}><br>
               <span><Strong>Seong-Whan Lee</Strong></span><br>
               <span>Korea Univ.</span><br>
               <a href="http://pr.korea.ac.kr/sub2_1.php?code=LSW"><i class="fa fa-home"></i></a>
           </div>
           <div class="col-lg-2">
               <img style="width:130px;height:170px" src={% static "img/member/heungil.png" %}><br>
               <span><Strong>Heung-Il Suk</Strong></span><br>
               <span>Korea Univ.</span><br>
               <a href="https://milab.korea.ac.kr/people/professor/"><i class="fa fa-home"></i></a>
           </div>
i           <div class="col-lg-2">
               <img style="width:130px;height:170px"  src={% static "img/member/muller.png" %}><br>
               <span><Strong>K.-R. Müller</Strong></span><br>
               <span>TU Berlin</span><br>
               <a href="http://heatmapping.org/"><i class="fa fa-home"></i></a>
           </div>
           <div class="col-lg-2">
               <img style="width:130px;height:170px"  src={% static "img/member/kke.png" %}><br>
               <span><Strong>Kee-Eung Kim </Strong></span><br>
               <span>KAIST</span><br>
               <a href="http://ailab.kaist.ac.kr/users/kekim"><i class="fa fa-home"></i></a>
           </div>
        </div>
        <div class="row">
            <h3>Task 4: Applications of Explainable Systems(Healthcare, Finance)</h3><br>
           <div class="col-lg-2">
                  <img style="width:130px;height:170px" src={% static "img/member/jingyu.png" %}><br>
                  <span><Strong>Jinkyu Yoo</Strong></span><br>
                  <span>AITRICS</span><br>
                  <a href="https://www.linkedin.com/in/jinkyu-yoo/"><i class="fa fa-home"></i></a>
           </div>
           <div class="col-lg-2">
                  <img style="width:130px;height:170px" src={% static "img/member/kjk.png" %}><br>
                  <span><Strong>Kwangjoon Kim</Strong></span><br>
                  <span>Yonsei Univ.</span><br>
                  <a href="http://sev.iseverance.com/dept_clinic/center/SRP/doc/docprofile.asp?sno=3406&isClinic=Y"><i class="fa fa-home"></i></a>
           </div>
           <div class="col-lg-2">
                  <img style="width:130px;height:170px" src={% static "img/member/byungki.png" %}><br>
                  <span><Strong>Byungki Seo</Strong></span><br>
                  <span>UNIST</span><br>
                  <a href="http://bkseo.unist.ac.kr/"><i class="fa fa-home"></i></a>
           </div>
           <div class="col-lg-2">
                  <img style="width:130px;height:170px" src={% static "img/member/kdj.png" %}><br>
                  <span><Strong>Daejin Kim</Strong></span><br>
                  <span>UNIST</span><br>
                  <a href="http://management.unist.ac.kr"><i class="fa fa-home"></i></a>
           </div>
           <div class="col-lg-2">
                  <img style="width:130px;height:170px" src={% static "img/member/jhj.png" %}><br>
                  <span><Strong>Hyunjin Jang</Strong></span><br>
                  <span>UNIST</span><br>
                  <a href="https://sites.google.com/site/janghj/"><i class="fa fa-home"></i></a>
           </div>
           <div class="col-lg-2">
                  <img style="width:130px;height:170px" src={% static "img/member/ljy.png" %}><br>
                  <span><Strong>Jun-Youp Lee</Strong></span><br>
                  <span>UNIST</span><br>
                  <a href="http://management.unist.ac.kr"><i class="fa fa-home"></i></a>
           </div>
        <br>
      </div>
   </section>
{% endblock content %}
