{% extends "web/index.html" %}
{% block content %}
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                  <li class="active">Notice</li>
               </ul>
            </div>
         </div>
      </div>
   </section>

   <section id="content">
      <div class="container">
         <div class="row">
               <div class="col-lg-12">
               <article>
                  <div class="post-image">
                     <div class="post-heading">
                        <img src="/static/img/event/ICCV19logo.png" style="width:200px;" />
                        <h3><a href="http://iccv2019.thecvf.com/">2019 International Explainable AI Symposium</a></h3>
                     </div>
                  </div>
                  <p class="lead">
                   We will co-host the ICCV 2019 Workshop on Interpreting and Explaining Visual Artificial Intelligence Models. <br> <br>

                     <a href='{% url 'Workshop19' %}'>English Information</a><br>

                  </p>
               </article>
            </div>
         </div>
      </div>
   </section>
{% endblock content %}