{% extends "web/index.html" %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
          <li class="active">Related Project</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    <div class="row">

      {% for project in object_list %}
      <div class="post-heading">
          <h3>{{ project.title }}</h3>
          <img src="/static/upload/{{ project.image }}" alt="" />
        </div>
        <br/>
        <div class="dl-horizontal" style="font-size: 15pt">
          <dt>Institutions : </dt><dd>{{ project.Institutions }}</dd>
          <dt>Authors : </dt><dd>{{ project.Authors }}</dd>
          <dt>Publication :</dt><dd><a href="{{ project.Publication_link}}">{{ project.Publication_title }} </a></dd>
          <dt>Source Code : </dt><dd><a href="{{ project.Sourcecode }}">{{ project.Sourcecode }}</a></dd>
          {% if project.Related_link is not null %}
          <dt>Further Info : </dt><dd><a href="{{ project.Related_link }}">{{ project.Related_link }}</a></dd>
          {% endif %}
      <br/><br/>
     {% endfor %}

     <div class="text-center">
        {% if is_paginated %}
          <ul class="pagination">
            {% if object_list.has_previous %}
              <li><a href="?page={{ news_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if news_list.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if news_list.has_next %}
              <li><a href="?page={{ news_list.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>

      </div>
    </div>
  </div>
</section>  
{% endblock content %}
