{% extends "web/index.html" %} {% block content %} {% load static%}
<section id="inner-headline">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
				<li class="active">Tutorial</li>
			</ul>
		</div>
	</div>
</div>
</section>
<section id="content">
<div class="container">
	<div class="lead">
	<div class="row">
		<!--<ul class="nav nav-tabs">-->
			<!--<li class="active"><a href="#English" data-toggle="tab"><i class="icon-briefcase"></i> English</a></li>-->
			<!--<li><a  href ='{% url 'Symposium18_ko' %}' >한국어</a></li>-->
		<!--</ul>-->
		<div class="tab-content">
			<div class="tab-pane active" id="English">
				<div class="col-lg-12">
					<div class="post-image">
						<div class="post-heading">
							<a href="http://www.kdd.org/kdd2020/calls/view/kdd-2020-call-for-research-papers"><img src="/static/img/event/KDD2020-banner.gif" style=""/></a><br>
							<br>
							<h1>KDD2020 Tutorial on</h1>
							<h2>Interpreting and Explaining Deep Neural Networks: A Perspective on Time Series Data</h2>
							<br>
							<h2> <i class="far fa-clock"></i> 1:00 - 4:00 PM, 23rd, August 2020</h2>
							<h2> <i class="fas fa-map-marker-alt"></i> Go to <a href="https://kddvirtual2020.vfairs.com/en/hall#booth-41119">https://kddvirtual2020.vfairs.com/en/hall#booth-41119</a>
							</h2>
							<h2> <i class="far fa-file-pdf"></i> Download Presentation Slides Here : 
									<a href="='/static/img/event/XAI_KDD_Tutorial-part1_final.pdf"> Part 1</a>,
									<a href="='/static/img/event/XAI_KDD_Tutorial-part2_final.pdf"> Part 2</a>,
									<a href="='/static/img/event/XAI_KDD_Tutorial-part3_final.pdf"> Part 3</a>
							</h2>
							</div>
							<br><br>
							<h3>
							For Attendees, we will share a Zoom Link through the Chat Room of the Virtual Platform. Here is the intruction how to access our workshop page.
							</h3>
							<img src='/static/img/event/XAI_KDD_Tutorial-vfairs.png'>
							<br>
						</div>
						<div class="col-lg-12">
							<div class="row">
								<a href="#Introduction" class="btn btn-warning">Abstract</a>
								<a href="#Program" class="btn btn-theme">Program</a>
								<a href="#Tutors" class="btn btn-info">Tutors</a>
								<a href="#Prerequisites" class="btn btn-danger">Prerequisites</a>
								<a href="#Reference" class="btn btn-success">Reference</a>
							</div>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<a href="#" class="btn btn-warning btn-large">Abstract</a>
					<br>
					<br>
					<article>
						Explainable and interpretable machine learning models and algorithms are important topics which
						have received growing attention from research, application and administration. Many advanced Deep
						Neural Networks (DNNs) are often perceived as black-boxes. Researchers would like to be able to
						interpret what the DNN has learned in order to identify biases and failure models and improve models.
						In this tutorial, we will provide a comprehensive overview on methods to analyze deep neural networks
						and an insight how those XAI methods help us understand time series data.
					</article>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<a href="#" class="btn btn-theme btn-large" id="Program">Program</a>
					<br>
					<br>
					<div class="col-lg-12">
					<div class="pricing-box-alt special">
						<div class="pricing-heading">
						   <h3><strong>Tutorial outline</strong> </h3>
						</div>
						<table  class="table table-bordered" style="text-align: center;">
							<thead>
							<tr style="color: white; background-color:#393a3d;">
								<th style="text-align: center;width:20%">
									Time
								</th>
								<th style="text-align: center;width:20%">
									Tutor
								</th>
								<th style="text-align: center;width:60%">
									Detail
								</th>
							</tr>
							</thead>
							<tr>
								<td>50 min</td>
								<th rowspan="3" style="text-align: center;font-weight: lighter;"> Jaesik Choi<br> (KAIST)</th>
								<td>Overview of Interpreting Deep Neural Networks</td>
							</tr>
							<tr>
								<td>50 min</td>
								<td>Interpreting Inside of Deep Neural Networks</td>
							</tr>
							<tr>
								<td>50 min</td>
								<td>Explaining TimeSeries Data</td>
							</tr>
						</table>
					</div>
						<br><br>
					<div class="row">
						<div class="alert alert-info">
						<strong> Overview of Interpreting Deep Neural Networks </strong>
						</div>
							&nbsp;&nbsp;&nbsp;At first, we will provide a comprehensive to explain fundamental principles in interpreting and explaining deep neural networks.
						   The topic of the talk may include relevance score based methods [Layer Relevance Propagation (LRP),
							Deep Taylor Decomposition (DTD), PatternNet, and RAP] and gradient based methods [DeConvNet, DeepLIFT, Guided Backprop].
							We will also present a new perspective by presenting methods on Meta-Explanations [CleverHans] and Neuralization methods [ClusterExplanations].</li>
						<img src="/static/img/event/XAI_roadmap.png" style="text-align:center; width:85%"/>

						<br><br>
						<div class="alert alert-info">
						<strong> Interpreting Inside of Deep Neural Networks </strong>
						</div>
							&nbsp;&nbsp;&nbsp;In this section, we will present methods to interpreting internal nodes of deep neural networks.
						We will start the session by introducing method to visualize channels of Convolutional Neural Networks [Network Dissection] and Generative Adversarial Networks [GAN Dissection].
	                    Then, We will present methods [Convex Hull, Cluster Explanations, E-GBAS]to analyze internal nodes of DNNs by analyzing a set of decision boundaries.
						When allowed, We will briefly overview the methods to explain DNNs by using attention methods.</li>
							<br><br>
						<div class="alert alert-info">
						<strong> Explaining Time Series Data </strong>
						</div>
							&nbsp;&nbsp;&nbsp;In the last section, we will introduce recent explainable methods on Time Series Domain. We will introduce [N-BEATS], a framework performing regression tasks and
						providing outputs that are interpretable without considerable loss in accuracy.
						[CPHAP] interprets the decision of temporal neural networks by extracting highly activated periods. Furthermore, this clustered results of this method provide
						an intuition of understanding data mining.  Finally, we will present a method [Automatic Statistician] that predicts time series with a human-readable report,
						including the reason for prediction.
						<br>
						<br>
						<!-- divider -->
						<div class="row">
							<div class="col-lg-12">
								<div class="solidline">
								</div>
							</div>
						</div>
						<!-- end divider -->
					<!-- Descriptions -->
				<div class="row">
					<div class="col-lg-12">
					<a href="#" class="btn btn-primary btn-info" id="Tutors">Tutors</a>
					<br>
					<br>
					<div class="col-lg-12">
						<div style="text-align:center;">
							<img src={% static "img/member/jaesik_profile.jpg" %}><br>
						</div>
						<br>
						<span>&nbsp;&nbsp;&nbsp;<strong>Jaesik Choi</strong> is a director of the Explainable Artificial Intelligence Center of Korea since 2017.
						He is an associate professor of Graduate School of Artificial Intelligence at Korea Advanced Institute of Science and Technology (KAIST).
						He received his BS degree in computer science and engineering at Seoul National University in 2004.
						He received his PhD degree in computer science at the University of Illinois at Urbana-Champaign in 2012.</span>
						<br><br>
						<li><strong>Email:</strong> <a href="mailto:jaesik.choi@kaist.ac.kr">jaesik.choi@kaist.ac.kr</a></li>
						<li><strong>Homepage:</strong> <a href="http://sailab.kaist.ac.kr/jaesik">http://sailab.kaist.ac.kr/jaesik</a></li>
						<li><strong>Affiliation:</strong> Korea Advanced Institute of Science and Technology (KAIST)</li>
						<li><strong>Address:</strong> 8, Seongnam-daero 331,18F KINS Tower,Bundang, Seongnam, Gyeonggi, Republic of Korea</li>

						<br>
					</div>
					</div>
				</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
						<a href="#" class="btn btn-danger btn-large" id="Prerequisites">Prerequisites </a>
					<br>
					<br>
						<li><strong>Target Audience:</strong> Target audience of this tutorial is a general audience who are familiarized
							in basics of machine learning and statistics. Thus, a person with knowledge of master-level
							graduate student will not have difficulty to follow the tutorial. </li>
						<li><strong>Equipment attendees should bring :</strong> Nothing  </li>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->

					<!-- Descriptions -->
					<div class="row">
					<div class="col-lg-12">
						<a href="#" class="btn btn-success btn-large" id="Reference">Reference</a>
						<br>
						<br>

						<div class="row">
							<div class="col-lg-12">
	1. <a href="https://www.darpa.mil/attachments/XAIProgramUpdate.pdf">Gunning, D. (2017). Explainable artificial intelligence (xai). Defense Advanced Research Projects Agency (DARPA).</a></br>
	2. <a href="https://robotics.sciencemag.org/content/robotics/4/37/eaay7120.full.pdf">Gunning, D., Stefik, D., Choi, J., Miller, T., Stumpf, S. and Yang G.-Z.(2019), XAI—Explainable artificial intelligence, Science Robotics, 4(37).</a></br>
	3. <a href="https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0130140&type=printable">[LRP] Bach, S., Binder, A., Montavon, G., Klauschen, F., Müller, K. R., & Samek, W. (2015). On pixel-wise explanationsfor non-linear classifier decisions by layer-wise relevance propagation. PloS one, 10(7), e0130140.</a></br>
	4. <a href="https://reader.elsevier.com/reader/sd/pii/S0031320316303582?token=F32A501C928B9386F04F247D1FDCBEE5B0448A857C05C6F6A817F321E352F689D0E9A6FB30659367A2C97940E10FE067">[DTD] Montavon, G., Lapuschkin, S., Binder, A., Samek, W., & Müller, K. R. (2017). Explaining nonlinear classification decisions with deep taylor decomposition. Pattern Recognition, 65, 211-222. </a></br>
	5. <a href="https://dl.acm.org/doi/pdf/10.1145/3206025.3206039">[PatternNet] Li, H., Ellis, J. G., Zhang, L., & Chang, S. F. (2018). Patternnet: Visual pattern mining with deep neural network. In Proceedings of the ACM on International Conference on Multimedia Retrieval (pp. 291-299).</a></br>
	6. <a href="https://www.nature.com/articles/s41467-019-08987-4.pdf">[Clever Hans] Lapuschkin, S., Wäldchen, S., Binder, A., Montavon, G., Samek, W., Muller, K.-R. (2019). Unmasking Clever Hans predictors and assessing what machines really learn. Nature Communication 10, 1096.</a><br>
	7. <a href="https://aaai.org/Papers/AAAI/2020GB/AAAI-NamWJ.5191.pdf">[RAP] Nam, W. J., Choi, J., & Lee, S. W. (2020). Relative Attributing Propagation: Interpreting the Comparative Contributions of Individual Units in Deep Neural Networks. AAAI Conference on Artificial Intelligence. Gradient Based</a><br>
	8. <a href="https://link.springer.com/content/pdf/10.1007%2F978-3-319-10590-1_53.pdf">[DeConvNet] Zeiler, Matthew D., and Rob Fergus. (2014). Visualizing and understanding convolutional networks. European conference on computer vision. Springer.</a><br>
	9. <a href="https://dl.acm.org/doi/pdf/10.5555/3305890.3306006">[DeepLIFT] Shrikumar, A., Greenside, P., & Kundaje, A. (2017). Learning important features through propagating activation differences. In Proceedings of the 34th International Conference on Machine Learning-Volume 70 (pp. 3145-3153). JMLR. org.</a><br>
	10. <a href="https://arxiv.org/pdf/1412.6806.pdf">[Guided Backprop] Springenberg, J. T., Dosovitskiy, A., Brox, T., & Riedmiller, M. (2014). Striving for simplicity: The all convolutional net. arXiv preprint arXiv:1412.6806.</a><br>
	11. <a href="http://openaccess.thecvf.com/content_ICCV_2017/papers/Selvaraju_Grad-CAM_Visual_Explanations_ICCV_2017_paper.pdf">[GradCAM] Selvaraju, R. R., Cogswell, M., Das, A., Vedantam, R., Parikh, D., & Batra, D. (2017). Grad-cam: Visual explanations from deep networks via gradient-based localization. In Proceedings of the IEEE International Conference on Computer Vision(pp. 618-626). Explaining Internal Nodes</a><br>
	12. <a href="https://arxiv.org/pdf/1704.05796.pdf">[Network Dissection] Bau, D., Zhou, B., Khosla, A., Oliva, A., & Torralba, A. (2017). Network dissection: Quantifying interpretability of deep visual representations. In Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (pp. 6541-6549).</a><br>
	13. <a href="https://arxiv.org/pdf/1811.10597.pdf">[GAN Dissection] Bau, D., Zhu, J. Y., Strobelt, H., Zhou, B., Tenenbaum, J. B., Freeman, W. T., & Torralba, A. (2018). Gan dissection: Visualizing and understanding generative adversarial networks. arXiv preprint arXiv:1811.10597.</a><br>
	14. <a href="https://aaai.org/Papers/AAAI/2020GB/AAAI-JeonG.7148.pdf">[E-GBAS] Jeon, G., Jeong, H., Choi, J. (2020). An Efficient Explorative Sampling Considering the Generative Boundaries of Deep Generative Neural Networks. In Thirty-Third AAAI Conference on Artificial Intelligence.</a><br>
	15. <a href="https://arxiv.org/pdf/1906.07633.pdf">[Cluster Explanations] Kauffmann, J., Esders, M., Montavon, G., Samek, W., Muller, K.-R. (2019). From Clustering to Cluster Explanations via Neural Networks, Arxiv 1906.07633. Explaining though attention</a><br>
	16. <a href="https://papers.nips.cc/paper/6321-retain-an-interpretable-predictive-model-for-healthcare-using-reverse-time-attention-mechanism.pdf">[RETAIN] Choi, E., Bahadori, M. T., Sun, J., Kulas, J., Schuetz, A., & Stewart, W. (2016). Retain: An interpretable predictive model for healthcare using reverse time attention mechanism. In Advances in Neural Information Processing Systems (pp. 3504-3512).</a><br>
	17. <a href="https://www.cv-foundation.org/openaccess/content_cvpr_2015/papers/Zhao_Saliency_Detection_by_2015_CVPR_paper.pdf">[Saliency Maps] Zhao, R., Ouyang, W., Li, H., & Wang, X. (2015). Saliency detection by multicontext deep learning. In Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (pp. 1265-1274).</a><br>
	18. <a href="http://proceedings.mlr.press/v48/leeb16.pdf">[AMTL] Lee, G., Yang, E., & Hwang, S. (2016, June). Asymmetric multi-task learning based on task relatedness and loss. In International Conference on Machine Learning (pp. 230-238).</a><br>
	19. <a href="https://papers.nips.cc/paper/7370-uncertainty-aware-attention-for-reliable-interpretation-and-prediction.pdf">[UA] Heo, J., Lee, H. B., Kim, S., Lee, J., Kim, K. J., Yang, E., & Hwang, S. J. (2018). Uncertainty-aware attention for reliable interpretation and prediction. In Advances in Neural Information Processing Systems (pp. 909-918). Generating Explanations</a><br>
	20. <a href="https://www.cv-foundation.org/openaccess/content_cvpr_2016/papers/Andreas_Neural_Module_Networks_CVPR_2016_paper.pdf">[Neural Module Network] Andreas, J., Rohrbach, M., Darrell, T., & Klein, D. (2016). Neural module networks. In Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (pp. 39-48).</a><br>
	21. <a href="https://www.mpi-inf.mpg.de/fileadmin/inf/d2/akata/generating-visual-explanations.pdf">[GVE] Hendricks, L. A., Akata, Z., Rohrbach, M., Donahue, J., Schiele, B., & Darrell, T. (2016, October). Generating visual explanations. In European Conference on Computer Vision (pp. 3-19). Springer, Cham.</a><br>
	22. [10-K Reports] , Y. Chun at el, “Predicting and Explaining Cause of Changes in Stock Prices By Reading Annual Reports”, NeurIPS 2019 Workshop on Robust AI in Financial Services<br>
	23. <a href="https://doi.org/10.1016/j.neuroimage.2019.116113">[Regional Anomaly] Lee E., Choi J., Kim M., Suk H. (2019). Toward an interpretable Alzheimer's disease diagnostic model with regional abnormality representation via deep learning. In NeuroImage (vol. 202) Local Linear Explanation</a><br>
	24. <a href="https://dl.acm.org/doi/pdf/10.1145/2939672.2939778">[LIME] Ribeiro, M. T., Singh, S., & Guestrin, C. (2016, August). Why should i trust you?: Explaining the predictions of any classifier. In Proceedings of the 22nd ACM SIGKDD international conference on knowledge discovery and data mining (pp. 1135-1144). ACM.</a><br>
	25. <a href="https://papers.nips.cc/paper/7062-a-unified-approach-to-interpreting-model-predictions.pdf">[SHAP] Lundberg, S. M., & Lee, S. I. (2017). A unified approach to interpreting model predictions.In Advances in Neural Information Processing Systems (pp. 4765-4774). Decision Tree Explanator</a><br>
	26. <a href="https://arxiv.org/pdf/1905.10437.pdf">[N-BEATS] Oreshkin, Boris N., et al. N-BEATS: Neural basis expansion analysis for interpretable time series forecasting. arXiv preprint arXiv:1905.10437 (2019).</a><br>
	27. <a href="https://link.springer.com/content/pdf/10.1007%2F978-3-030-05318-5_9.pdf">[Automatic Statistician] Steinruecken, C., Smith, E., Janz, D., Lloyd, J., & Ghahramani, Z. (2019). The Automatic Statistician. In Automated Machine Learning (pp. 161-173). Springer, Cham.</a><br>
	28. <a href="https://www.aaai.org/ocs/index.php/AAAI/AAAI14/paper/viewFile/8240/8564">[ABCD] Lloyd, J. R., Duvenaud, D., Grosse, R., Tenenbaum, J., & Ghahramani, Z. (2014, June). Automatic construction and natural-language description of nonparametric regression models. In Twenty-eighth AAAI conference on artificial intelligence.</a><br>
	29. <a href="http://proceedings.mlr.press/v48/hwangb16.pdf">[R-ABCD] Hwang, Y., Tong, A., & Choi, J. (2016, June). Automatic construction of nonparametric relational regression models for multiple time series. In International Conference on Machine Learning(pp. 3030-3039)</a><br>
	30. <a href="http://xai.kaist.ac.kr/static/img/event/ICCV_2019_VXAI_Trevo_Talk.pdf">Trevor Darrell, “Recent progress towards XAI at UC Berkeley”, 2019 ICCV VXAI workshop http://xai.kaist.ac.kr/static/img/event/ICCV_2019_VXAI_Trevo_Talk.pdf</a><br>
	31. <a href="http://xai.kaist.ac.kr/static/img/event/ICCV_2019_VXAI_Samek_Talk.pdf">Wojciech Samek,“Meta-Explanations, Interpretable Clustering & Other Recent Development”, http://xai.kaist.ac.kr/static/img/event/ICCV_2019_VXAI_Samek_Talk.pdf</a><br>

							<br><br>
								<h3> # Additional References of Figure 1 </h3>
<h3>Relevance Score based</h3>
		<a href="https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0130140&type=printable">[LRP] Bach, S., Binder, A., Montavon, G., Klauschen, F., Müller, K. R., & Samek, W. (2015). On pixel-wise explanations for non-linear classifier decisions by layer-wise relevance propagation. PloS one, 10(7), e0130140. </a></br>
		<a href="https://reader.elsevier.com/reader/sd/pii/S0031320316303582?token=F32A501C928B9386F04F247D1FDCBEE5B0448A857C05C6F6A817F321E352F689D0E9A6FB30659367A2C97940E10FE067">[DTD] Montavon, G., Lapuschkin, S., Binder, A., Samek, W., & Müller, K. R. (2017). Explaining nonlinear classification decisions with deep taylor decomposition. Pattern Recognition, 65, 211-222. </a></br>
		<a href="https://dl.acm.org/doi/pdf/10.1145/3206025.3206039">[PatternNet] Li, H., Ellis, J. G., Zhang, L., & Chang, S. F. (2018). Patternnet: Visual pattern mining with deep neural network. In Proceedings of the ACM on International Conference on Multimedia Retrieval (pp. 291-299). </a></br>
		<a href="https://www.nature.com/articles/s41467-019-08987-4.pdf">[Clever Hans] Lapuschkin, S., Wäldchen, S., Binder, A., Montavon, G., Samek, W., Muller, K.-R. (2019). Unmasking Clever Hans predictors and assessing what machines really learn. Nature Communication 10, 1096. </a></br>
		<a href="https://aaai.org/Papers/AAAI/2020GB/AAAI-NamWJ.5191.pdf">[RAP] Nam, W. J., Choi, J., & Lee, S. W. (2020). Relative Attributing Propagation: Interpreting the Comparative Contributions of Individual Units in Deep Neural Networks. AAAI Conference on Artificial Intelligence. </a></br>

	<h3>Gradient Based</h3>
		<a href="https://link.springer.com/content/pdf/10.1007%2F978-3-319-10590-1_53.pdf">[DeConvNet] Zeiler, Matthew D., and Rob Fergus. (2014). Visualizing and understanding convolutional networks. European conference on computer vision. Springer. </a></br>
		<a href="https://dl.acm.org/doi/pdf/10.5555/3305890.3306006">[DeepLIFT] Shrikumar, A., Greenside, P., & Kundaje, A. (2017). Learning important features through propagating activation differences. In Proceedings of the 34th International Conference on Machine Learning-Volume 70 (pp. 3145-3153). JMLR. org. </a></br>
		<a href="https://arxiv.org/pdf/1412.6806.pdf">[Guided Backprop] Springenberg, J. T., Dosovitskiy, A., Brox, T., & Riedmiller, M. (2014). Striving for simplicity: The all convolutional net. arXiv preprint arXiv:1412.6806. </a></br>
		<a href="http://openaccess.thecvf.com/content_ICCV_2017/papers/Selvaraju_Grad-CAM_Visual_Explanations_ICCV_2017_paper.pdf">[GradCAM] Selvaraju, R. R., Cogswell, M., Das, A., Vedantam, R., Parikh, D., & Batra, D. (2017). Grad-cam: Visual explanations from deep networks via gradient-based localization. In Proceedings of the IEEE International Conference on Computer Vision (pp. 618-626). </a></br>

	<h3>Explaining Internal Nodes</h3>
		<a href="https://arxiv.org/pdf/1704.05796.pdf">[Network Dissection] Bau, D., Zhou, B., Khosla, A., Oliva, A., & Torralba, A. (2017). Network dissection: Quantifying interpretability of deep visual representations. In Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (pp. 6541-6549). </a></br>
		<a href="https://arxiv.org/pdf/1811.10597.pdf">[GAN Dissection] Bau, D., Zhu, J. Y., Strobelt, H., Zhou, B., Tenenbaum, J. B., Freeman, W. T., & Torralba, A. (2018). Gan dissection: Visualizing and understanding generative adversarial networks. arXiv preprint arXiv:1811.10597. </a></br>
		<a href="https://aaai.org/Papers/AAAI/2020GB/AAAI-JeonG.7148.pdf">[E-GBAS] Jeon, G., Jeong, H., Choi, J. (2020). An Efficient Explorative Sampling Considering the Generative Boundaries of Deep Generative Neural Networks. In Thirty-Third AAAI Conference on Artificial Intelligence. </a></br>
		<a href="https://arxiv.org/pdf/1906.07633.pdf">[Cluster Explanations] Kauffmann, J., Esders, M., Montavon, G., Samek, W., Muller, K.-R. (2019). From Clustering to Cluster Explanations via Neural Networks, Arxiv 1906.07633. </a></br>

	<h3>Explaining though attention</h3>
		<a href="https://papers.nips.cc/paper/6321-retain-an-interpretable-predictive-model-for-healthcare-using-reverse-time-attention-mechanism.pdf">[RETAIN] Choi, E., Bahadori, M. T., Sun, J., Kulas, J., Schuetz, A., & Stewart, W. (2016). Retain: An interpretable predictive model for healthcare using reverse time attention mechanism. In Advances in Neural Information Processing Systems (pp. 3504-3512). </a></br>
		<a href="https://www.cv-foundation.org/openaccess/content_cvpr_2015/papers/Zhao_Saliency_Detection_by_2015_CVPR_paper.pdf">[Saliency Maps] Zhao, R., Ouyang, W., Li, H., & Wang, X. (2015). Saliency detection by multicontext deep learning. In Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (pp. 1265-1274). </a></br>
		<a href="http://proceedings.mlr.press/v48/leeb16.pdf">[AMTL] Lee, G., Yang, E., & Hwang, S. (2016, June). Asymmetric multi-task learning based on task relatedness and loss. In International Conference on Machine Learning (pp. 230-238). </a></br>
		<a href="https://papers.nips.cc/paper/7370-uncertainty-aware-attention-for-reliable-interpretation-and-prediction.pdf">[UA] Heo, J., Lee, H. B., Kim, S., Lee, J., Kim, K. J., Yang, E., & Hwang, S. J. (2018). Uncertainty-aware attention for reliable interpretation and prediction. In Advances in Neural Information Processing Systems (pp. 909-918). </a></br>

	<h3>Generating Explanations</h3>
		<a href="https://www.cv-foundation.org/openaccess/content_cvpr_2016/papers/Andreas_Neural_Module_Networks_CVPR_2016_paper.pdf">[Neural Module Network] Andreas, J., Rohrbach, M., Darrell, T., & Klein, D. (2016). Neural module networks. In Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (pp. 39-48). </a></br>
		<a href="https://www.mpi-inf.mpg.de/fileadmin/inf/d2/akata/generating-visual-explanations.pdf">[GVE] Hendricks, L. A., Akata, Z., Rohrbach, M., Donahue, J., Schiele, B., & Darrell, T. (2016, October). Generating visual explanations. In European Conference on Computer Vision (pp. 319). Springer, Cham. </a></br>
		[10-K Reports] , Y. Chun at el, “Predicting and Explaining Cause of Changes in Stock Prices By Reading Annual Reports”, NeurIPS 2019 Workshop on Robust AI in Financial Services</br>
		<a href="https://doi.org/10.1016/j.neuroimage.2019.116113">[Regional Anomaly] Lee E., Choi J., Kim M., Suk H. (2019). Toward an interpretable Alzheimer's disease diagnostic model with regional abnormality representation via deep learning. In NeuroImage (vol. 202) </a></br>

	<h3>Local Linear Explanation</h3>
		<a href="https://dl.acm.org/doi/pdf/10.1145/2939672.2939778">[LIME] Ribeiro, M. T., Singh, S., & Guestrin, C. (2016, August). Why should i trust you?: Explaining the predictions of any classifier. In Proceedings of the 22nd ACM SIGKDD international conference on knowledge discovery and data mining (pp. 1135-1144). ACM. </a></br>
		<a href="https://papers.nips.cc/paper/7062-a-unified-approach-to-interpreting-model-predictions.pdf">[SHAP] Lundberg, S. M., & Lee, S. I. (2017). A unified approach to interpreting model predictions. In Advances in Neural Information Processing Systems (pp. 4765-4774). </a></br>

	<h3>Decision Tree Explanator</h3>
		<a href="https://doi.org/10.1007/s11063-011-9207-8">[RxREN] Augasta, M. G., & Kathirvalavakumar, T. (2012). Reverse engineering the neural networks for rule extraction in classification problems. Neural processing letters, 35(2), 131150. </a></br>
		<a href="https://doi.org/10.1109/IJCNN.2001.938448">[CRED] Sato, M., & Tsukimoto, H. (2001, July). Rule extraction from neural networks via decision tree induction. In IJCNN'01. International Joint Conference on Neural Networks. Proceedings (Cat. No. 01CH37222) (Vol. 3, pp. 1870-1875). IEEE. </a></br>
		<a href="https://www.ke.tu-darmstadt.de/publications/papers/DS16DeepRED.pdf">[DeepRED] Zilke, J. R., Mencía, E. L., & Janssen, F. (2016, October). DeepRED–Rule extraction from deep neural networks. In International Conference on Discovery Science (pp. 457-473). Springer, Cham. </a></br>

	<h3>Rule Based Explanator</h3>
		<a href="ftp://ftp.cs.wisc.edu/machine-learning/shavlik-group/towell.aij94.pdf">[KBANN] Towell, G. G., & Shavlik, J. W. (1994). Knowledge-based artificial neural networks. Artificial intelligence, 70(1-2), 119-165. </a></br>
		<a href="https://link.springer.com/content/pdf/10.1007/BF00993103.pdf">[MofN] Towell, G. G., & Shavlik, J. W. (1993). Extracting refined rules from knowledge-based neural networks. Machine learning, 13(1), 71-101. </a></br>
		<a href="https://link.springer.com/content/pdf/10.1007/978-0-387-35300-5_4.pdf">[BRAINNE] Dillon, T. S., Hossain, T., Bloomer, W., & Witten, M. (1998). Improvements in supervised BRAINNE: A method for symbolic datamining using neural networks. In Data Mining and Reverse Engineering (pp. 67-88). Springer, Boston, MA. </a></br>
		<a href="https://doi.org/10.1016/j.jmp.2005.04.001">[RULEX] Navarro, D. J. (2005). Analyzing the RULEX model of category learning. Journal of Mathematical Psychology, 49(4), 259-275. </a></br>

	<h3>Explaining with Examples</h3>
		<a href="https://papers.nips.cc/paper/6300-examples-are-not-enough-learn-to-criticize-criticism-for-interpretability.pdf">[MMD-critic] Kim, B., Khanna, R., & Koyejo, O. O. (2016). Examples are not enough, learn to criticize! criticism for interpretability. In Advances in Neural Information Processing Systems (pp. 2280-2288). </a></br>

	<h3>Explainable Model Composition</h3>
		<a href="https://link.springer.com/content/pdf/10.1007%2F978-3-030-05318-5_9.pdf">[Automatic Statistician] Steinruecken, C., Smith, E., Janz, D., Lloyd, J., & Ghahramani, Z. (2019). The Automatic Statistician. In Automated Machine Learning (pp. 161-173). Springer, Cham. </a></br>
		<a href="https://www.aaai.org/ocs/index.php/AAAI/AAAI14/paper/viewFile/8240/8564">[ABCD] Lloyd, J. R., Duvenaud, D., Grosse, R., Tenenbaum, J., & Ghahramani, Z. (2014, June). Automatic construction and natural-language description of nonparametric regression models. In Twenty-eighth AAAI conference on artificial intelligence. </a></br>
		<a href="http://proceedings.mlr.press/v48/hwangb16.pdf">[R-ABCD] Hwang, Y., Tong, A., & Choi, J. (2016, June). Automatic construction of nonparametric relational regression models for multiple time series. In International Conference on Machine Learning (pp. 3030-3039). </a></br>
		<a href="https://doi.org/10.1007/978-3-540-72665-4_38">[LKM] Saradhi, V. V., & Karnick, H. (2007, May). On the Stability and Bias-Variance Analysis of Kernel Matrix Learning. In Conference of the Canadian Society for Computational Studies of Intelligence (pp. 441-451). Springer, Berlin, Heidelberg. </a></br>

	<h3>Learning Extracting Causalit</h3>
		<a href="https://arxiv.org/pdf/1901.08162.pdf">[Causal reasoning] Dasgupta, I., Wang, J., Chiappa, S., Mitrovic, J., Ortega, P., Raposo, D., ... & Kurth-Nelson, Z. (2019). Causal reasoning from meta-reinforcement learning. arXiv preprint arXiv:1901.08162. </a><br>
		<a href="https://doi.org/10.1017/S1358246100005130">[Contrastive Explanation] LIPTON, Peter. Contrastive explanation. Royal Institute of Philosophy Supplements, 1990, 27: 247-266. </a><br>
		<a href="http://web.engr.orst.edu/~erwig/papers/CF-Typing_POPL14.pdf">[Counter-factual Gen] CHEN, Sheng; ERWIG, Martin. Counter-factual typing for debugging type errors. In: ACM SIGPLAN Notices. ACM, 2014. </a><br>
		<a href="https://papers.nips.cc/paper/7411-joint-active-feature-acquisition-and-classification-with-variable-size-set-encoding.pdf">[Sequential FAC] SHIM, Hajin; HWANG, Sung Ju; YANG, Eunho. Joint active feature acquisition and classification with variable-size set encoding. In: Advances in Neural Information Processing Systems. 2018. p. 1368-1378. </a><br>
		<a href="https://arxiv.org/pdf/1909.12446.pdf">[F-TC] S.-H. Kang, H.-G. Jung, and S.-W. Lee. Interpreting Undesirable Pixels for Image Classification on Black-Box Models. arXiv preprint arXiv:1909.12446. </a><br>

	<h3>Extracting Models</h3>
		<a href="https://arxiv.org/pdf/1811.12530.pdf">[Extract-FSM] Koul, Anurag, Sam Greydanus, and Alan Fern. (2019). Learning finite state representations of recurrent policy networks. In International Conference on Learning Representations (ICLR). </a><br>
		<a href="https://arxiv.org/pdf/1804.02477.pdf">[PIPL] Verma, A., Murali, V., Singh, R., Kohli, P., & Chaudhuri, S. (2018, July). Programmatically Interpretable Reinforcement Learning. In International Conference on Machine Learning (pp. 5052-5061). </a><br>

	<h3>Explainable Actions</h3>
		<a href="http://web.engr.oregonstate.edu/~afern/papers/reward_decomposition__workshop_final.pdf">[Reward-Decomp]  Juozapaitis, Z., Koul, A., Fern, A., Erwig, M., & Doshi-Velez, F. (2019). Explainable reinforcement learning via reward decomposition. In Proceedings of the IJCAI 2019 Workshop on Explainable Artificial Intelligence (pp. 47-53) </a><br>
		<a href="http://proceedings.mlr.press/v80/greydanus18a/greydanus18a.pdf">[Actor-Critic Saliency]  Greydanus, S., Koul, A., Dodge, J., & Fern, A. (2018, July). Visualizing and Understanding Atari Agents. In International Conference on Machine Learning (pp. 1787-1796). </a><br>
		<a href="https://aaai.org/ocs/index.php/ICAPS/ICAPS09/paper/view/726/1111">[Min-Suff-Exp] Khan, O. Z., Poupart, P., & Black, J. P. (2009, September). Minimal sufficient explanations for factored Markov Decision Processes. In Proceedings of the Nineteenth International Conference on International Conference on Automated Planning and Scheduling (pp. 194-200). AAAI Press. </a><br>
		<a href="http://ailab.kaist.ac.kr/papers/pdfs/LJKK2020.pdf">[VG-UCT] LEE, Jongmin, et al. Monte-Carlo Tree Search in Continuous Action Spaces with Value Gradients. 2020, AAAI. </a><br>

							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="solidline">
								</div>
							</div>
						</div>
						<!-- end divider -->
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</section>

<!-- divider -->
<div class="row">
	<div class="col-lg-12">
		<div class="solidline">
		</div>
	</div>
</div>
<!-- end divider -->
{% endblock content %}
